* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: cadetblue;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main textarea {
  background-color: black;
  color: aqua;
  font-size: 15px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main button {
  margin-top: 15px;
  width: 100px;
  height: 25px;
  background-color: black;
  color: aqua;
}
.yaz {
  display: flex;
  margin-bottom: 10px;
  gap: 5px;
}
.yaz span {
  font-size: 30px;
  font-style: italic;
}
.yaz p {
  font-size: 35px;
  font-style: italic;
}
